{% extends 'base.html' %}

{% block title %} პროექტის შესახებ {% endblock %}

{% block content %}
<main id="about">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="about-project">
        <strong>პროექტის შესახებ</strong>
      <p>ბიბლიური წიგნების Ძველი ქართული თარგმანების ანოტირებული ელექტრონული გამოცემა ილიას სახელმწიფო უნივერსიტეტის ლინგვისტურ კვლევათა ინსტიტუტის ბაზაზე ხორციელდება ახალგაზრდა მკვლევართა ჯგუფის მიერ.
      </p>
      <p>აღნიშნულ გამოცემას უზრუნველყოფს ილიაუნის ტექნიკური ჯგუფი ციფრული ჰუმანიტარიის დოქტორის, თამარ კალხიტაშვილის ხელმძღვანელობით. სწორედ ამ ჯგუფის მიერ შეიქმნა პლატფორმა OGB (Old Georgian Bible) – http://ogb.iliauni.edu.ge/. მასში ინტეგრირებულია ანოტაციის ხელსაწყო, რომელიც აგებულია HTML, CSS და Javascript გამოყენებით და დაკავშირებულია PostgreSQL მონაცემთა ბაზასთან. ხელსაწყო განთავსებულია OGB-ს პლატფორმაზე პარალელურად ანოტირებული ტექსტების გვერდით მარჯვენა კუთხეში და მკვლევრებს კონკრეტული ხელნაწერი ტექსტის ანოტირების შესაძლებლობას აძლევს. განახლებები ავტომატურად აისახება მონაცემთა ბაზაში. პლატფორმა მომხმარებლებს ასევე აძლევს საშუალებას, ჩამოტვირთონ ანოტირებული ტექსტები XML ფორმატში. სამომავლოდ, მათი გამოყენებით,  დაგეგმილია TEI სქემის შექმნა.
      </p>
      <p>ბიბლიური წიგნების Ძველი ქართული თარგმანების ანოტირებულ ელექტრონულ გამოცემაზე მომუშავე ახალგაზრდა მკვლევრების მიზანია, შეიქმნას მაღალი ხარისხის ციფრული გამოცემა, რომელიც იქნება მოდელი ახალი და ძველი აღთქმის სხვა წიგნების ციფრული გამოცემისთვის. ვინაიდან ამ დრომდე არ არსებობდა ბიბლიური წიგნების ანოტირებული ელექტრონული კორპუსული გამოცემა, ძველი ქართული თარგმანები მიუწვდომელი რჩებოდა უცხოელი მეცნიერებისათვის. ამის გამო, ქართული ტექსტები არ არის გათვალისწინებული არც ერთ ბერძნულ ან სხვა ენოვან ციფრულ გამოცემაში. შექმნილ ვითარებაში ანოტირებული პარალელური კორპუსის ბიბლიური წიგნებით გამდიდრებას განსაკუთრებული მნიშვნელობა აქვს საერთაშორისო მასშტაბის შემდგომი კვლევებისთვის.
      </p>
      <p>შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის ახალგაზრდა მეცნიერთა კვლევების 2019 წლის გრანტით (YS-19-165) Ნათია დუნდუამ მოამზადა ტობის წიგნის ქართული, ბერძნული და სომხური ვერსიების პარალელური ელექტრონული ანოტირებული გამოცემა. აღნიშნული გამოცემა დაფუძნებულია ტექსტოლოგიურ კვლევაზე, რომელიც სადოქტორო დისერტაციის ფარგლებში განხორციელდა (ნათია დუნდუა, „ტობის წიგნის ქართული თარგმანი (ტექსტის წარმომავლობის, ისტორიისა და თარგმანის ტექნიკის საკითხები“, 2018).
        ასევე შოთა რუსთაველის საქართველოს ეროვნული სამეცნიერო ფონდის ახალგაზრდა მეცნიერთა კვლევების 2021 წლის გრანტით  (YS-21-1562) ეკა კვირკველიამ მოამზადა გიორგი მთაწმინდელის რეცენზიის მათეს სახარების ანოტირებული ელექტრონული პარალელური კორპუსული გამოცემა. ციფრულ გამოცემას საფუძვლად უდევს სადოქტორო დისერტაციის ფარგლებში განხორციელებული ტექსტოლოგიური კვლევა (ეკა კვირკველია, <a href="http://press.tsu.ge/data/image_db_innova/Eka%20Kvirkvelia.pdf">„სახარების XI საუკუნის ქართული ხელნაწერების კოდიკოლოგიურ-ტექსტოლოგიური ანალიზი და ოთხთავის გიორგი მთაწმინდლისეული რედაქციის ჩამოყალიბების ისტორია“, 2019).</a></p>
      <p>DAAD-სა და EU-ს პროგრამის “Georgia’s Researchers Mobility” დაფინანსებით 2023 წელს ნათია დუნდუამ ჰელსინკის უნივერსიტეტში მოამზადა <a href="http://ogb.iliauni.edu.ge/book/103">ეკლესიასტეს</a> ანოტირებული ელექტრონული სინოპტიკური გამოცემა.
      </p>
      <p>
        ტექსტების ანოტირების პროცესში ჩართულია თსუ-ს შუა საუკუნეების ქრისტიანული აღმოსავლეთის ფილოლოგიის სამაგისტრო პროგრამის კურსდამთავრებული, კორნელი კეკელიძის სახელობის საქართველოს ხელნაწერთა ეროვნული ცენტრის თანამშრომელი ნინო გიორგაძე.
      </p>
      <strong>ტექნიკური გუნდი</strong>
      <p>
         პლატფორმის დიზაინი და პროგრამირება: თემურ ჩიჩუა, ანა გველესიანი, თამარ კალხიტაშვილი, გიორგი კვარაცხელია.
      </p>

        <strong>ლინგვისტური ანოტირების ძირითადი მეთოდოლოგია</strong>

      <p>ბიბლიური წიგნების Ძველი ქართული თარგმანების ლინგვისტური ანოტირების პრინციპები ეფუძნება ძველ ქართულ ენაში იმ თეორიულ ცოდნას, რომელიც ბოლო ათეული წლების განმავლობაში დაგროვდა. შესაბამისად, გათვალისწინებულია ყველა ის თავისებურება, რაც ძველ ქართულ ენას ახალთან შედარებით ახასიათებს. Მაგალითად, ანოტირების დროს სათანადოდ არის აღნიშნული ორმაგი და სამმაგი ბრუნების ნიმუშები, არტიკლის ფუნქციით გამოყენებული ნაცვალსახელები, მომავალი დროის კავშირებითის მწკრივებით გამოხატვის თავისებურება და სხვა. Ბიბლიური ტექსტების ამ პრინციპებით ანოტირება შესაბამისი საძიებო სისტემების გამოყენებით შემდგომი ლინგვისტური კვლევებისთვის გამზადებულ ემპირიულ მასალას მისცემს ნებისმიერ დაინტერესებულ მკვლევარს. </p>
      <p>თითოეული სიტყვა-ფორმისთვის მითითებულია ლემა. არსებითი, ზედსართავი და რიცხვითი სახელისთვის ეს არის წრფელობითი ბრუნვის ფორმა, იმ შემთხვევაშიც, როდესაც ორმაგი ან სამმაგი ბრუნების ნიმუში გვაქვს. Ჩვენი მიზანია, რომ ერთი კონკრეტული ძირით ძიების დროს ტექსტებში მოიძებნოს ყველა არსებული ფორმა. ამავე პრინციპს ვეყრდნობით რიცხვითი სახელის შემთხვევაშიც. ყველა ტიპის Რიცხვით სახელს ლემად ვუთითებთ რაოდენობითის წრფელობითი ბრუნვის ფორმას. ნაცვალსახელებისათვის, მათი ბრუნების თავისებურებიდან გამომდინარე, ლემად მითითებულია სახელობითი ბრუნვის ფორმა. კუთვნილებითი ნაცვალსახელის შემთხვევაშიც ვუთითებთ კუთვნილებითი ნაცვალსახელის სახელობითი ბრუნვის ფორმას და არა ჩვენებითის, რომლის ნათესაობითი ბრუნვის ფორმისგანაც წარმოსდგება კუთვნილებითი. </p>
      <p>არსებითი სახელი გარჩეულია შემდეგი კატეგორიების მიხედვით:  ბრუნვა და რიცხვი. ზედსართავი სახელის შემთხევაში ემატება ხარისხის ფორმა, ხოლო რიცხვითი სახელის შემთხვევაში დაკონკრეტებულია, რაოდენობითია, რიგობითი, წილობითი თუ განუსაზღვრელობითი. ნაცვალსახელებთან, ბრუნვისა და რიცხვის გარდა, მითითებულია კატეგორიაც.</p>
      <p>ზმნებისათვის ლემად გატანილია მესამე პირის მხოლობითი რიცხვის აწმყოს ფორმა სუბიექტური წყობით, როგორც სუბიექტური, ასევე, ობიექტური წყობის შემთხვევაში. ლემით ძიების შემთხვევაში სისტემა ტექსტებში არსებულ სამივე სერიის ფორმას მოგვცემს. ზმნა გარჩეულია შემდეგი კატეგორიების მიხედვით: მწკრივი, კილო, პირი, რიცხვი. გამოყოფილია ზმნისწინებიც. შესაბამისად არის აღნიშნული გრამატიკული პასივები. </p>
      <p>ბერძნული შესატყვისიდან გამომდინარე გვიწევს დეფისით შეერთება ისეთი ფორმებისა, რომლებიც სხვადასხვა გამოცემაში ძირითადად უდეფისოდ არის დაწერილი. ასეთებია, მაგალითად, 1. აღწერითი ფორმით გამოხატული მომავალი (მოსვლად-არს) 2. აღწერითი ვნებითის ფორმები (გაკეთებულ-იქნა). 3. Მეშველი ზმნით ნაწარმოები მესამე სერიის ფორმები (ყოფილ-არს). 4. Რთული ზმნები (გულისჴმა-ყვეს).</p>
      <p>ანოტირებისას ყოველთვის აღვნიშნავთ სუბიექტის პირსა და რიცხვს. Რაც შეეხება ობიექტს / ობიექტებს, აღნიშვნის პრინციპად ავიღეთ მორფოლოგია, ანუ ანოტირებისას ობიექტს აღვნიშნავთ იმ შემთხვევაში, თუკი ზმნაში წარმოდგენილია მისი მარკერი: ა) პირის ნიშანი, ბ) რიცხვის ნიშანი (სახელობითში მდგარი ობიექტის მრავლობითობა), გ) პირთა სამიმართებო პრეფიქსები. Რაც შეეხება ინვერსიულ ზმნებს, პირებს ვუწყობთ ინვერსიულად (მაგ., მიყვარს S1 O3).</p>
      <p>ანოტირების დროს თითოეულ სიტყვა-ფორმას ეთითება ბერძნული, სომხური და ინგლისური თარგმანი. გარდა ამისა, ვეყრდნობით ამ კუთხით არსებულ საერთაშორისო გამოცდილებას. კერძოდ, ვითვალისწინებთ Bible Works 10-ის (Version 10.0.5.301), <a href="https://en.katabiblon.com/us/index.php?text=GNT">Kata Biblon-ისა</a> და <a href="https://arak29.org/bible/book/">სომხური ბიბლიის</a> ანოტირებული ელექტრონული გამოცემების გამოცდილებას.</p>

      <strong>ანოტირების ცხრილი</strong>

    </div>
  </div>
</div>
</main>
{% endblock %}
