<footer class="bg-primary-custom shadow-lg px-2 py-5 row g-0 border-accent border-2 border-top">
    <div class="col-3">
        <a href="https://iliauni.edu.ge/ge" target="_blank" class="mx-3 text-decoration-none">
            <img src="{{ url_for('static', filename='img/iliauni-logo.svg') }}" height="64"
                 alt="Ilia State University" style="filter: invert(1)"/>
        </a>
        <a href="https://rustaveli.org.ge" target="_blank" class="text-decoration-none">
            <img src="{{ url_for('static', filename='img/rustaveli-foundation-logo.png') }}"
                 height="64" alt="Shota Rustaveli Foundation" style="filter: invert(1)"/>
        </a>
    </div>

    <div class="col-6 text-white align-self-center text-center">
        © 2026 ლინგვისტურ კვლევათა ინსტიტუტი
    </div>

    <div class="col-3">
        <span class="text-white">
            Პორტალი შეიქმნა ბიბლიის ძველი ქართული თარგმანების მორფოლოგიური ანოტირების მიზნით პროექტის
            „გიორგი მთაწმინდელის რეცენზიის მათეს სახარების პარალელური ელექტრონული გამოცემა“ (YS-21-1562) ფარგლებში.
        </span>
    </div>

</footer>