{% extends "base.html" %}

{% block body %}

    <div class="container h-100 d-flex align-items-center justify-content-center">
        <div class="row text-center g-0" >
            <h1 data-aos="fade-up"
                class="px-3 pt-3 pb-5">
                ანოტირებული წიგნები
            </h1>

            <div class="d-flex flex-column px-5 text-center">
                {%- for book in books -%}
                    <a href="{{ url_for('main.view_book', book_id=book.id) }}"
                       class="text-decoration-none text-dark fs-4 hover-scale"
                       data-aos="fade-up"
                       data-aos-delay={{ 100 + (50 * loop.index) }}>
                        {{ book.title }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}