<style>
    @font-face {
        font-family: "NotoSansGeorgianAG-Light";
        src: url("{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Light.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Light.woff') }}") format("woff");
    }
    @font-face {
        font-family: "NotoSansGeorgianAG-Medium";
        src: url("{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Medium.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Medium.woff') }}") format("woff");
    }
    @font-face {
        font-family: "GLKirovi-Bold";
        src: url("{{ url_for('static', filename='fonts/GLKirovi-Bold.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/GLKirovi-Bold.woff') }}") format("woff");
    }

    @font-face {
        font-family: "bebas-neue-regular";
        src: url("{{ url_for('static', filename='fonts/bebas-neue-regular.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/bebas-neue-regular.woff') }}") format("woff");
    }
    @font-face {
        font-family: "bebas-neue-book";
        src: url("{{ url_for('static', filename='fonts/bebas-neue-book.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/bebas-neue-book.woff') }}") format("woff");
    }
    @font-face {
        font-family: "Palatino-Roman";
        src: url("{{ url_for('static', filename='fonts/Palatino-Roman.woff2') }}") format("woff2"),
        url("{{ url_for('static', filename='fonts/Palatino-Roman.woff') }}") format("woff");
    }
    @font-face {
        font-family: 'NotoSansGeorgianAG-Light';
        src: url( "{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Light.woff2') }}") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'NotoSansGeorgianAG-Medium';
        src: url( "{{ url_for('static', filename='fonts/NotoSansGeorgianAG-Medium.woff2') }}") format('woff2');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
</style>
