  <footer>
    <div class="footer">
      <div class="iliauni">
        <img src="{{ url_for('static', filename='/img/iliauni-logo.svg') }}" alt="iliauni logo">
      </div>
      <div class="iliauni">
        <img src="{{ url_for('static', filename='/img/rustaveli-foundation-logo.png') }}" alt="iliauni logo">
      </div>
      <div class="manuscripts-list-footer">
        {{ generate_list_of_books() }}
      </div>
      <div class="left-side-footer">
          <div>
              <p>
              Პორტალი შეიქმნა ბიბლიის ძველი ქართული თარგმანების მორფოლოგიური ანოტირების მიზნით პროექტის „გიორგი მთაწმინდელის რეცენზიის მათეს სახარების პარალელური ელექტრონული გამოცემა“ (YS-21-1562) ფარგლებში.
              </p>
          </div>
      </div>
    </div>

    <div class="copyright">
      © {{ get_current_year() }} ლინგვისტურ კვლევათა ინსტიტუტი
    </div>
  </footer>
