  <footer>
    <div class="footer">
      <div class="iliauni">
        <img src="{{ url_for('static', filename='/img/iliauni-logo.svg') }}" alt="iliauni logo">
      </div>
      <div class="manuscripts-list-footer">
        {{ generate_list_of_books() }}
      </div>
      <div class="left-side-footer">
          <div>
              <p>
              ბიბლიური წიგნების Ძველი ქართული თარგმანების ანოტირებული ელექტრონული გამოცემა ილიას სახელმწიფო უნივერსიტეტის ლინგვისტურ კვლევათა ინსტიტუტის ბაზაზე ხორციელდება ახალგაზრდა მკვლევართა ჯგუფის მიერ.
              </p>
          </div>
      </div>
    </div>

    <div class="copyright">
      © {{ get_current_year() }} ლინგვისტურ კვლევათა ინსტიტუტი
    </div>
  </footer>
